@{
    ViewData["Title"] = "First Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Pizzeria 013!</h1> 
        <p><a href="@Url.Action("Index","Orders")">Manage Pizzeria Orders</a>   -   <a href="@Url.Action("Index","Items")">Manage Menu Items</a></p>
    </div>
